numpy==1.25.2
Pillow==10.0.0
tensorflow==2.10.0
git+https://github.com/marcown/imgaug.git
opencv-python-headless==4.8.0.74
pandas==1.4.2
matplotlib==3.4.3
seaborn==0.12.2
scikit-learn==0.24.2
GitPython==3.1.32
dvc==3.5.1
mlflow==2.5.0
prefect==2.13.4
pydantic>=1.2.0,<2.0.0
evidently==0.4.5
SQLAlchemy==1.4.49
psycopg2-binary==2.9.7
torchvision==0.15.2
torch==2.0.1
imutils==0.5.4
black==24.3.0
apache-airflow==2.8.3
kaggle
ray[data,train,tune,serve]==2.9.3
kafka-python==2.0.2
pyspark==3.5.1